@import '../../../../common/styles/variables.scss';

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.datePicker {
  margin-bottom: 10px;
}
