@import '../../../common/styles/variables.scss';

.wrapper {
  max-width: 750px !important;
  height: 675px;

  .modal_wrapper {
    .header_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        border-bottom: 1px solid $input-edit-bg;
        bottom: -10px;
      }

      span {
        font-size: 14px;
        color: $table-title-color;
      }

      .sendBtn {
        background: $start-btn-default;
        padding: 5px 20px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .modal_content {
      margin-top: 20px;

      .modal_field_sendMessage {
        display: flex;
        flex-direction: column;

        label {
          font-size: 14px;
          color: $table-title-color;
          margin-bottom: 5px;
        }

        .userIcon_input {
          background: $input-edit-bg;
          display: flex;
          gap: 10px;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;

          .input_sendMessage {
            background: $input-edit-bg;
            outline: none;
            border: none;
            font-size: 16px;
            width: 100%;
          }
        }
      }

      .modal_field_message {
        label {
          font-size: 14px;
          color: $table-title-color;
          margin-bottom: 5px;
        }
        .input_message {
          background: $input-edit-bg;
          outline: none;
          border: none;
          font-size: 16px;
          width: 100%;
          padding: 10px;
          border-radius: 5px;
        }

        textarea {
          margin-top: 10px;
          max-width: 710px;
          max-height: 250px;
          padding: 10px;
          font-size: 16px;
          border-radius: 10px;
          background: $input-edit-bg;
          border: $input-edit-bg 1px solid;
          outline: none;
        }
      }

      .team {
        max-width: 270px;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background: $input-edit-bg;
        border: $input-edit-bg 1px solid;
        outline: none;
      }
    }
  }
}
