@import '../../../../../common/styles/variables.scss';

.card {
  border-radius: 10px;
  gap: 5px 10px;
  padding: 10px;
  display: flex;
  background: $seaSalt;
  box-shadow: 0 1px 5px 0 $dark-box-shadow;
  margin-bottom: 5px;
}

.cardColumn {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.cardData {
  width: 20%;
}

.cardNaming {
  width: 40%;
}

.cardQuantity {
  width: 20%;
}

.cardPrice {
  width: 20%;
}

.cardText {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  min-height: 32px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $white;
  font-family: var(--font-family);
}

.cardTotal {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $silver;
  font-family: var(--font-family);
}
