@import './fonts.scss';

// document-page box-shadow-color
$dark-box-shadow: rgba(184, 184, 184, 0.1);
$black-box-shadow: rgba(0, 0, 0, 0.1);
$gray-box-shadow: rgba(255, 255, 252, 0.3);

// фон кнопок
$gray-btn-bg-default: #616161;
$gray-btn-bg-hover: #242423;
$gray-btn: #e6e6e6;
// $gray-btn-bg-active:
$yellow-btn-bg: #bbed21;
$yellow-btn-hover: #c8fa2e;

$start-btn-default: #bbed21;
$start-btn-hover: #c8fa2e;
$green-btn-default: #20be56;
$green-btn-hover: #17e25c;

$red-btn-default: #d03f3f;
$red-btn-hover: #f21212;

// цвет текста
$white: #fffffc;
$black: #000;
$gray: #6f6f6f;
$red: #e23333;
$seaSalt: #f8f8f8;
$silver: #c7c7c7;
$lightRed: #ff5757;

// палитра главного фона
$main-pink-bg: #ea4c68;
$main-yellow-bg: #c9b463;
$main-blue-bg: #2094b9;
$main-violet-bg: #d257ff;
$main-green-bg: #669d35;
$main-red-bg: #e23333;
$main-black-bg: #1a1a1a;
$count-active-bg: #e6e6e6;
$baby-powder: rgba($white, 30%);
$inp-bg: rgba(253, 253, 250, 0.4);

// kanban
$yellow-round: #bbed21;
$blue-round: #13edfb;
$green-round: #068d34;
$violet-round: #c214de;
$red-round: #f21212;
$salat-round: #0ff85e;
$pink-round: #ff1694;
$modalMask: rgba(#363636, 100%);
$edge-modal-mask: rgba(#363636, 0.1);
$partial: #feda00;
$not-paid: #ff2c2c;
$not-paid-row: #ffdddd;

$table-gray-bg: #ddd;
$table-title-color: #6f6f6f;
$table-column-color: #242423;
$input-edit: #24242385;
$input-edit-bg: #f8f8f8;
$table-dtn-save: #bbed21;
$table-btn-delete: #242423;
$table-bottom-solid: #c7c7c7;

$btn_employess: #bbed21;

$border-color: #c7c7c7;
