@import '../../../common/styles/variables.scss';

.form {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid $seaSalt;
    margin-bottom: 10px;
    .action_wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      button {
        font-weight: 400;
        font-size: 16px;
      }
      img {
        cursor: pointer;
      }
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .inp_wrapper {
        background-color: $seaSalt;
        border-radius: 5px;
        input {
          color: $gray-btn-bg-hover;
          &::placeholder {
            color: $gray;
          }
        }
      }
      &:last-child {
        .inp_wrapper {
          input {
            padding: 0;
          }
        }
      }
    }
  }
}
