@import '../../../../../../../common/styles/variables.scss';

.form {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $white;
  textarea {
    border: 1px solid $seaSalt;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    color: $gray-btn-bg-hover;
    height: 80px;
    &::placeholder {
      color: $gray;
    }
  }
  select {
    width: 150px;
  }
  button {
    width: min-content;
  }
  .errorMessage {
    color: $not-paid;
  }
}
