@import '../../../styles/variables.scss';

.bg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 288px;
  .title {
    font-weight: 400;
    font-size: 16px;
    color: $gray-btn-bg-hover;
  }
  .blocks {
    display: flex;
    gap: 7px;
    width: 100%;
    flex-wrap: wrap;
  }
  .card {
    min-width: 52px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      filter: brightness(1.2);
    }
  }

  .pink {
    background-color: $main-pink-bg;
  }

  .violet {
    background-color: $main-violet-bg;
  }

  .green {
    background-color: $main-green-bg;
  }

  .gray {
    background-color: $gray;
  }

  .black {
    background-color: $main-black-bg;
  }

  .texture {
    background-size: cover;
  }
  .first-texture {
    background-image: url(../../../assets/images/firstBg.png);
  }
  .second-texture {
    background-image: url(../../../assets/images/secondBg.png);
  }
  .third-texture {
    background-image: url(../../../assets/images/thirdBg.png);
  }

  .fourth-texture {
    background-image: url(../../../assets/images/fourthBg.png);
  }
  .fifth-texture {
    background-image: url(../../../assets/images/fifthBg.png);
  }
  .sixth-texture {
    background-image: url(../../../assets/images/sixthBg.png);
  }
}
