@import '../../../../common/styles/variables.scss';
.bodyTr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid $silver;

  &:last-child {
    border-bottom: none;
  }

  .rowCheckbox {
    position: relative;
    top: -13px;
    margin-right: 15px;
  }

  .id {
    width: 23%;
  }

  .name {
    width: 23%;
  }

  .naming {
    width: 43%;
  }

  .format {
    width: 6%;
  }

  .dropDown {
    position: relative;
    width: 100%;
    max-width: 8%;
    .btn {
      padding: 2px 5px;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3em;
      background-color: $seaSalt;
      font-family: var(--font-family);
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      transition: all 0.3s;
      width: 100%;
      max-width: 75px;
    }

    .activeBtn {
      border-radius: 5px 5px 0 0;
    }

    .arrow {
      transition: all 0.3s;
    }

    .arrowActive {
      transform: rotate(180deg);
    }

    .content {
      position: absolute;
      height: 0;
      background-color: $seaSalt;
      display: none;
      padding: 2px 5px;
      width: 100%;
      max-width: 75px;
      z-index: 10;
    }

    .contentActive {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }

    .fileType {
      cursor: pointer;
      margin-bottom: 5px;
      transition: all 0.1s;

      &:hover {
        background-color: $white;
      }
    }
  }
}
