@import '../../../../../../common/styles/variables.scss';

.dealsForm {
  border-radius: 10px;
  width: 43.57%;
  min-width: 400px;
  height: min-content;
  background-color: $white;
  padding: 15px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    .title {
      font-weight: 400;
      font-size: 14px;
      color: $gray;
    }
    .btnsBlock {
      gap: 30px;
      display: flex;
      align-items: center;
    }
    .edit {
      cursor: pointer;
    }
    margin-bottom: 10px;
  }

  .formItems {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .moreWrapper {
      display: flex;
      justify-content: space-between;
      gap: 14px;
      .inpBlock {
        width: 100%;
      }
    }
    .inpBlock {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .error {
        color: $red;
        font-size: 14px;
      }
      label {
        font-weight: 400;
        font-size: 14px;
        color: $gray;
      }
      .inp {
        background-color: $seaSalt;
        border-radius: 5px;

        input {
          font-weight: 400;
          font-size: 16px;
          color: $gray-btn-bg-hover;
          padding-right: 0;
          border-radius: 5px;
        }
      }
      .hasPrevIcon {
        input {
          padding: 0;
        }
      }

      .select {
        border-radius: 5px;
        padding: 9px 15px;
        border: none;
        background-color: $seaSalt;
        font-weight: 400;
        font-size: 16px;
        color: $gray-btn-bg-hover;
        outline: none;
      }
    }
  }
}

.isNewDeal {
  position: relative;
  z-index: 4;
}
