@import '../../../../../common/styles/variables.scss';

.card {
  border-radius: 10px;
  background-color: $white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .titleBlock {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $count-active-bg;
    min-height: 101px;
    cursor: pointer;
    .main {
      flex-direction: column;
      font-size: 20px;
      .client {
        text-decoration: underline;
      }
      .brutto {
        font-weight: 400;
        font-size: 16px;
        color: $gray-btn-bg-hover;
        span {
          color: $gray;
        }
      }
    }
  }

  .mainBlock,
  .main {
    font-weight: 400;
    color: $gray-btn-bg-hover;
    gap: 5px;
    display: flex;
  }

  .date {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-size: 14px;
    color: $gray;
  }

  .commentContainer {
    display: flex;
    justify-content: space-between;
    min-height: 44px;
    border-radius: 5px;
    background-color: $seaSalt;
    cursor: pointer;
    .mainBlock {
      align-items: center;
      font-size: 14px;
      padding: 0 5px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .todoCreate,
    .user_img {
      width: 24px;
      height: 24px;
      border-radius: 40px;
      cursor: pointer;
    }
    .todoBlock {
      display: flex;
      align-items: center;
      gap: 2px;
      .todo,
      .count {
        font-weight: 400;
        font-size: 16px;
      }
      .count {
        margin-left: 8px;
        padding: 0 5px;
        border-radius: 50%;
        background: $count-active-bg;
        color: $gray-btn-bg-hover;
      }
      .todo {
        color: $gray;
      }
    }
  }
}

.isDragging {
  opacity: 0.5;
}
