@import '../../../common/styles/variables.scss';

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: $seaSalt;
  border-radius: 5px;
  .icon_wrapper {
    background-color: $yellow-round;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 0;
    .icon {
      width: 100%;
    }
  }
  .data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .name_wrapper {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      color: $gray-btn-bg-hover;
      .name {
        font-weight: 500;
      }
    }
    .phone_wrapper {
      font-weight: 400;
      font-size: 18px;
      color: $gray;
      .phone {
        color: $gray-btn-bg-hover;
      }
    }
  }
}
