@import '../../styles/variables.scss';

.sidebar {
  padding: 8px 10px;
  background: $white;
  border-radius: 15px;
  max-height: 323px;
  .chapter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      font-weight: 400;
      font-size: 20px;
      img {
        width: 30px;
        display: none;
      }
    }
    .active {
      background: $gray-btn-bg-hover;
      border-radius: 10px;
      color: $white;
    }
  }
  transition: 0.4s all ease-in-out;
}

.isClosed {
  background: $baby-powder;
  padding: 7px;

  .chapter {
    gap: 29px;
    p {
      display: none;
    }
    li {
      padding: 3px;
      img {
        display: block;
      }
    }
    .active {
      background: $white;
    }
  }
}
