@import '../../common/styles/variables.scss';

.crm {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  .pageContainer {
    padding: 20px 50px 10px 50px;
    background: $baby-powder;
    border-radius: 10px;
    height: 100%;
  }
}
