@import '../../../common/styles/variables.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;

  .children {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.5;
      z-index: 0;
    }

    svg {
      z-index: 1;
      transform: rotate(-90deg);
      width: 100%;
      height: 100%;

      .progressCircleBackground {
        fill: none;
        stroke: $white;
        stroke-width: 12;
      }

      .progressCircleForeground {
        fill: none;
        stroke: $green-btn-default;
        stroke-width: 12;
        stroke-linecap: round;
        stroke-dasharray: 0 194.78;
        stroke-dashoffset: 0;
        animation: progress 1.1s linear infinite;
      }
    }
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 1 194.78;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 97.39 194.78;
      stroke-dashoffset: -97.39;
    }
    100% {
      stroke-dasharray: 1 194.78;
      stroke-dashoffset: -194.78;
    }
  }
}
