@import '../../../common/styles/variables.scss';

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: $seaSalt;
  border-radius: 5px;
  margin-bottom: 18px;
  .icon {
    width: 66px;
  }
  .text {
    font-weight: 400;
    font-size: 24px;
    color: $gray-btn-bg-hover;
    text-align: center;
  }
}
