@import '../../../../../../common/styles/variables.scss';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}

.title {
  font-weight: 400;
  font-size: 16px;
  text-transform: lowercase;
  color: $gray;
}

.value {
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: $gray-btn-bg-hover;
}
