@import '../../../../../common/styles/variables.scss';

.progress {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  &_item {
    padding: 7px 15px;
    border-radius: 10px;
    border-bottom: 1px solid;
    min-width: 179px;
    transition: background-color 0.3s;
    font-weight: 400;
    font-size: 16px;
    color: $gray-btn-bg-hover;
    background-color: $white;
    cursor: pointer;
    transition: 0.5s all;
  }
  .modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 32px;
    &Text {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }
  }
}
