@import '../../../common/styles/variables.scss';

.btn {
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: $white !important;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.gray {
  background-color: $gray-btn-bg-default;
  &:hover {
    background-color: $gray-btn-bg-hover;
  }
}

.yellow {
  background-color: $yellow-btn-bg;
  color: $gray-btn-bg-hover !important;
  &:hover {
    background-color: $yellow-btn-hover;
  }
}

.link-red {
  font-weight: 400;
  font-size: 16px;
  color: $red !important;
  padding: 0 !important;
}

.green {
  background-color: $green-btn-default;
  &:hover {
    background-color: $green-btn-hover;
  }
}

.red {
  background-color: $red-btn-default;
  &:hover {
    background-color: $red-btn-hover;
  }
}

.cancel {
  color: #242423 !important;
  background-color: transparent;
}

.outline-gray {
  color: $gray !important;
  border: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.link-black {
  background: transparent;
  color: $gray-btn-bg-hover !important;
  padding: 0;
}

.link-gray {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: $count-active-bg;
  font-weight: 400;
  font-size: 14px;
  color: $gray-btn-bg-hover !important;
  &:hover {
    background-color: $silver;
  }
}
