@import '../../styles/variables.scss';

.container {
  position: absolute;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  z-index: 2000;
  box-shadow: 0 0 20px $gray;

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    top: -20px;
    left: calc(50% - 10px);
    border-bottom: 20px solid $white;

    &.arrowDown {
      top: auto;
      bottom: -20px;
      border-bottom: none;
      border-top: 20px solid $white;
    }
  }
}
