@import '../../common/styles/variables.scss';
.document {
  width: 100%;
  overflow-y: hidden;
  height: 100%;
  border-radius: 10px;
  padding: 20px 50px 10px 50px;
  background: $baby-powder;

  .customTabsBlock {
    width: fit-content;
    background: $gray-box-shadow;
    margin-bottom: 20px;
  }
  .customTab {
    color: $white;
  }

  .customActiveTab {
    color: $black;
    background: $white;
    box-shadow: 0 1px 5px 0 $dark-box-shadow;
  }
}

.headBlock {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titleBlock {
  gap: 50px;
  display: flex;
  align-items: center;

  & h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
    color: $white;
    font-family: var(--font-family);
  }
}

.tableWrapper {
  position: relative;
  width: calc(100vw - 254px);
  height: calc(100vh - 270px);
  background: $white;
  border-radius: 8px;
  box-shadow: 0 0 10px $black-box-shadow;
  overflow: hidden;
  margin: 0 auto;
}

.filePickerWrapper {
  margin: 20px 0 30px;
}

.readyBtnWrapper {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.readyBtn {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 991px) {
  .tableWrapper {
    overflow-x: auto;
  }

  .table {
    width: 736px;
  }
}
