@import '../../../common/styles/variables.scss';

.tabsBlock {
  background: $white;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  color: $gray-btn-bg-hover;

  .tab {
    padding: 5px 20px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;

    .count {
      border-radius: 15px;
      background-color: $red-btn-default;
      padding: 0 5px;
      margin-left: 10px;
    }
  }

  .activeTab {
    background-color: $gray-btn-bg-hover;
    color: $white;
    .count {
      background-color: $count-active-bg;
    }
  }

  .disabled {
    cursor: not-allowed;
  }
}
