@import '../../../../../../../common/styles/variables.scss';

.form {
  display: flex;
  gap: 20px;
  width: 100%;
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;

    &:nth-child(2) {
      width: 20%;
      min-width: min-content;
      justify-content: flex-end;
    }

    .item_block {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      label {
        font-weight: 400;
        font-size: 14px;
        color: $gray;
      }
      .inp_wrapper {
        background-color: $seaSalt;
        border: none;
        border-radius: 5px;
        input {
          font-weight: 400;
          font-size: 16px;
          color: $gray;
          &::placeholder {
            color: $gray;
          }
        }
      }

      .select {
        height: 46px;
        font-weight: 400;
        font-size: 16px;
        color: $gray;
        padding-left: 20px;
      }
      .datepicker {
        height: 46px;
        width: 100%;
      }
    }

    .more_items_block {
      display: flex;
      gap: 20px;
    }
  }
}
.plusIcon {
  background-color: $count-active-bg;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  align-self: center;
  cursor: pointer;
}
